<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Matching Game</title>
    {% load static %}
    <link
      rel="stylesheet"
      href="{% static 'KidVenture/css/alphabet_matching.css' %}"
    />
  </head>
  <body>
    <div>
      <a href="{% url 'game_selection' %}">Back to Game Selection</a>
    </div>
    <h1>Matching Game</h1>
    <p>Match the uppercase and lowercase letters</p>
    <div id="timer">Time: 0 seconds</div>
    <div class="score-container">
      <div id="score">Score: 0 / 10</div>
      <div id="mismatched">Mismatched: 0</div>
    </div>
    <div id="game-board"></div>

    <!-- Overlay for end level messages -->
    <div id="end-level-overlay" class="overlay">
      <div id="end-level-message" class="message"></div>
    </div>

    <!-- #region Audio elements for sound effects -->
    <audio
      id="card-click-sound"
      src="{% static 'KidVenture/sound_effects/card_click_sound.mp3' %}"
      preload="auto"
    ></audio>
    <audio
      id="match-sound"
      src="{% static 'KidVenture/sound_effects/correct.mp3' %}"
      preload="auto"
    ></audio>
    <audio
      id="mismatch-sound"
      src="{% static 'KidVenture/sound_effects/mismatch-sound.mp3' %}"
      preload="auto"
    ></audio>
    <audio
      id="level-up-sound"
      src="{% static 'KidVenture/sound_effects/LevelUp.mp3' %}"
      preload="auto"
    ></audio>
    <!-- #endregion -->

    <script src="{% static 'KidVenture/scripts/alphabet_matching.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.4.0/dist/confetti.browser.min.js"></script>
  </body>
</html>
