<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join a Class</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'KidVenture/css/join.css' %}">
</head>
<body>

    <main>
        <div class="form-container">
            <div class="content-box">
                <h2>Join a Class</h2>
                <form method="post" action="{% url 'join_class' %}">
                    {% csrf_token %}
                    <label for="access_token">Class Access Token:</label>
                    <input type="text" id="access_token" name="access_token" required>
                    <button type="submit" class="submit-btn">Join Class</button>
                </form>

                <!-- Back to Home Button -->
                <button onclick="window.location.href='{% url 'home' %}'" class="back-btn">Home</button>
            </div>
        </div>
    </main>

</body>
</html>
