<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'KidVenture/css/styles.css' %}">
</head>

<body>
    <div class="glass-container3">
        <div class="login-box">
            <h2>Reset Your Password</h2>
            <form method="post">
                {% csrf_token %}
                
                <!-- Email Field -->
                {{ form.email }}

                <!-- Submit Button -->
                <button type="submit">Send Reset Link</button>
            </form>

            <!-- Back to Login Link -->
            <p>Remembered your password? <a href="{% url 'login_view' %}" id="register">Login</a></p>
        </div>
    </div>
</body>

</html>
