<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}KidVenture{% endblock %}</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

    {% load static %}
    <link rel="stylesheet" href="{% static 'KidVenture/css/student.css' %}">
</head>

<body>

    {% block content %}




    {% endblock %}
    
</body>
</html>
