/* General Body Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url("../images/background-image.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
  }
  

/* Centering the content box */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

/* Content Box */
.content-box {
    background-color: #fff;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

/* Heading */
h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.6rem;
    color: #333;
}

/* Form Elements */
form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1rem;
    margin-bottom: 8px;
    color: #333;
}

input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}

button.submit-btn {
    padding: 10px;
    font-size: 1rem;
    background-color: green;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.submit-btn:hover {
    background-color: #3d8f67;
}

/* Footer Styling */
footer {
    text-align: center;
    font-size: 0.9rem;
    color: #888;
    margin-top: 20px;
}


/* Back to Home Button */
.back-btn {
    background-color: darkcyan; /* Blue color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
    width: 100%;
    transition: background-color 0.3s ease;
}

.back-btn:hover {
    background-color: #2980b9; /* Darker blue on hover */
}
